.usecase{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.usecase-image{
    width: 80rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.small-desc{
    text-align: center;
}

.use-case-header{
    text-align: center;
}